@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

body {
    background-color: #f5f5f5;
    font-family: "Onest", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 15px;
}

.bot-container {
    max-width: 390px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bot-container input {
    border-radius: 10px;
}

.bot-container textarea {
    border-radius: 10px;
}

.header {
    background-color: #f1f5f9;
    border-bottom: 1px solid #dee2e6;
}

.header-title {
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    padding-top: 3px;
    padding-right: 30px;
    text-align: center;
}

.step-indicator span {
    font-size: 20px;
    font-weight: bold;
}

.step-indicator p {
    font-size: 13px;
    color: #6c757d;
}

.form-section {
    padding: 15px;
}

.form-group label,
.form-group input,
.form-group textarea {
    margin-bottom: 10px;
}

.styled-checkbox {
    margin-right: 10px;
}

.form-control {
    border-color: #ced4da;
    height: 50px;
    background-color: #F8FAFC;
    resize: none;
}

.form-control::placeholder {
    color: rgb(163, 163, 163);
}

.btn {
    padding: 10px;
    font-size: 14px;
    color: #1D4ED8;
    border-radius: 10px;
}

.text-primary {
    color: #007bff;
}

.remove-button {
    border: none;
    background: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-block {
    display: block;
    width: 100%;
}

.button-group button {
    width: 100%;
    margin-bottom: 10px;
}

.back-link,
.cancel-link {
    color: #007bff;
    text-decoration: none;
    font-size: 1.25rem;
}

.maxwidth {
    min-width: 15%;
}

.maxwidth80 {
    min-width: 75%;
    margin-left: 10px;
}

.margin10 {
    margin: 10;
}

.save-button {
    background-color: #1461fa48;
    border-color: #FFFFFF;
}

.plus {
    margin-right: 5px;
}

.question11 {
    color: #6B7280;
}

.arr-right {
    margin-left: 5px;
}

.arr-left {
    margin-right: 5px;
}

.btn-public {
    color: #FFFFFF;
}

.question12 {
    margin-left: 0px;
}

.file-upload {
    border: 2px;
    border-radius: 5px;
    padding-top: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.file-upload-icon {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.bg-grey {
    background-color: #e9ecef;
}

.d-none {
    display: none;
}